.anime-single {
  display: flex;
  flex-wrap: wrap;

  &--title {
    width: 100%;
  }

  &--left {
    width: 360px;
  }

  &--right {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
    width: calc(100% - 360px);
  }
}

.anime-img {
  margin: 0 0 0.5rem;
}

.anime-actions {
  a {
    color: darken($link-color--hover, 10%);
  }
}

.anime-accent-row {
  background: $background-accent--lighter;
  color: $anime--top-row__color;
  display: flex;
  gap: 0 40px;
  margin: 0 0 1rem;
  padding: 10px 20px;
  width: 100%;
}

.score-title,
.type-title,
.dates-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.score-rating {
  font-size: 1rem;
}

.anime-synopsis {
  width: 100%;
}
