$nav-link-color: #ccc;
$link-color: #06c;
$link-color--hover: #007bff;
$background-accent: #282c34;
$background-accent--lighter: lighten($background-accent, 20%);
$anime--top-row__color: #eee;
$card-background-color: #fff;
$border-color: #e5e5e5;
