$nav-link-color: #ccc;
$link-color: #282c34;
$link-color--hover: #06c;
$background-accent: #282c34;
$background-accent--lighter: lighten($background-accent, 20%);
$novel--top-row__color: #eee;
$card-background-color: #fff;
