.App-header {
  align-items: center;
  background-color: $background-accent;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  font-size: 20px;
  justify-content: space-between;

  a {
    color: $nav-link-color;
    text-decoration: none;

    &:active,
    &:hover,
    &:visited {
      color: $nav-link-color;
    }
  }
}

.site-nav {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  margin: 0 14px;
}
