.search-container {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  width: 266px;
}

@media (min-width: 768px) {
  .search-container {
    padding: 0 24px;
    width: 620px;
  }
}

@media (min-width: 992px) {
  .search-container {
    justify-content: flex-end;
    padding: 0 24px;
    width: auto;
  }
}

input[type='text'] {
  margin-bottom: 1rem;
  padding: 4px 10px;
  width: 100%;
}

@media (min-width: 992px) {
  input[type='text'] {
    width: auto;
  }
}
