body {
  background-color: #ddd;
}

.site-nav,
.site-main {
  padding-left: 5%;
  padding-right: 5%;
}

.site-main {
  background: white;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
}
