h3 {
  font-size: 1.5em;
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:active {
    color: $link-color--hover;
  }
}
